@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    text-align: center;
    background-color: black;
}

* {
    font-family: 'Poppins', sans-serif;
}

div.container {

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.container > h1 {
    font-size: 100px;
    color: white;
}

p.explanation {
    position:absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 13px;
    letter-spacing: 3px;
}